
  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Our Apps / Services
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="../../assets/images/s-1.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              CONVERT MORE <br/> CUSTOMERS

            </h4>
            <p>
              Convert more website visitors to qualified leads and customers with ABM, chatbots, and automated meeting scheduling.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="../../assets/images/s-2.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              ENGAGE ACROSS <br/> EVERY TOUCHPOINT
            </h4>
            <p>
              Drive activation and engagement with in-product and multi-channel campaigns, tours, and surveys.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="../../assets/images/s-3.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              SUPPORT CUSTOMERS <br/> AT SCALE
            </h4>
            <p>
              Provide personalized help at scale with proactive, self-serve, and human support.
            </p>
          </div>
        </div>
      </div>
      <div>
        <a href="https://www.intercom.com/">
          Read More
        </a>
      </div>
    </div>
  </section>
